---
- name:         Create Consul service definition for master node
  include_role: name=infra-role-consul-service
  when:         k8s_is_master
  vars:
    consul_config_name: 'kubernetes-master'
    consul_services:
      - name:     'k8s-api-server'
        id:       'k8s-api-server-{{ hostname }}'
        tags:     ['k8s', 'api-server']
        port:     '{{ k8s_master_api_server_port }}'
        address:  '{{ ansible_local.wireguard.address }}'
        checks:
          - id: 'k8s-api-server-status'
            name: 'K8S Api server'
            type: 'tcp'
            tcp: '{{ ansible_local.wireguard.address }}:{{ k8s_master_api_server_port }}'
      - name:     'k8s-etcd-metrics'
        id:       'k8s-etcd-{{ hostname }}'
        tags:     ['k8s', 'etcd']
        port:     '{{ k8s_master_etcd_port_metrics }}'
        address:  '{{ ansible_local.wireguard.address }}'
        checks:
          - id: 'k8s-etcd-status'
            name: 'K8S etcd Metrics'
            type: 'http'
            http: 'http://localhost:{{ k8s_master_etcd_port_metrics }}/metrics'

- name:         Create Consul service definition for all nodes
  include_role: name=infra-role-consul-service
  vars:
    consul_config_name: 'kubelet'
    consul_services:
      - name:     'k8s-kubelet'
        id:       'k8s-kubelet-{{ hostname }}'
        tags:     ['k8s', 'kubelet']
        port:     '{{ k8s_kubelet_port }}'
        address:  '{{ ansible_local.wireguard.address }}'
        checks:
          - id: 'k8s-kubelet-status'
            name: 'Kubelet'
            type: 'http'
            http: 'http://localhost:{{ k8s_kubelet_port }}/healthz'

