---
- name: "Kubernetes | Install dependencies for containerd"
  apt:
    name: '{{ k8s_packages_dependencies }}'
    state: present
    update_cache: yes

- name: "Kubernetes | Add Docker GPG key"
  apt_key:
    url: '{{ k8s_containerd_gpg_url }}'
    state: present

- name: "Kubernetes | Add Docker repository"
  apt_repository:
    repo: "{{ k8s_containerd_apt_repo }}"
    state: present

- name: "Kubernetes | name: Install containerd"
  apt:
    name: containerd.io
    state: present
    update_cache: yes

- name: "Kubernetes | Create containerd config directory"
  file:
    path: '{{ k8s_containerd_config_dir }}'
    state: directory
    mode: '0755'

- name: "Kubernetes | Generate default containerd config"
  shell: containerd config default > '{{ k8s_containerd_config_dir }}/config.toml'
  args:
    creates: '{{ k8s_containerd_config_dir }}/config.toml'

- name: "Kubernetes | Ensure containerd is started and enabled"
  systemd:
    name: containerd
    state: started
    enabled: yes

- name: "Kubernetes | Add Kubernetes apt-key"
  get_url:
    url: '{{ k8s_apt_key_url }}/Release.key'
    dest: '{{ k8s_apt_key_path }}'
    mode: "0644"
    #checksum: 'sha256:{{ k8s_apt_key_sha256 }}'
    force: true

- name: "Kubernetes | Add Kubernetes APT repository"
  apt_repository:
    repo: "deb [signed-by={{ k8s_apt_key_path }}] {{ k8s_apt_key_url }} /"
    state: present
    update_cache: yes

- name: "Kubernetes | Install packages"
  apt:
    name: '{{ k8s_packages_lists }}'
    state: present
    update_cache: true

- name: "Kubernetes | Enable the Kubelet service"
  service:
     name: kubelet
     enabled: yes

