---
- import_tasks: pre-config.yml
  tags: 'role::kubernetes:pre-config'
- import_tasks: install.yml
  tags: 'role::kubernetes:install'
- import_tasks: containerd.yml
  tags: 'role::kubernetes:containerd'
- import_tasks: master.yml
  tags: 'role::kubernetes:master'
  when: kubernetes_is_master
- import_tasks: worker.yml
  tags: 'role::kubernetes:worker'
  when: not kubernetes_is_master
