---
- name: 'Kubernetes | Create kubeadm config and basic deployment'
  template:
    src: '{{ item }}.j2'
    dest: '{{ k8s_service_path }}/{{ item }}'
  with_items:
    - 'kubeadm-config.yaml'
    - 'flannel-deployment.yaml'

- name: "Kubernetes | Install packages"
  apt:
    name: '{{ kubernetes_master_packages }}'
    state: present
    update_cache: true


- name: 'Kubernetes | Initialize the cluster'
  shell: kubeadm init --config /etc/kubernetes/kubeadm-config.yaml >> cluster_initialized.log
  args:
    chdir: '{{ kubernetes_user_home }}'
    creates: cluster_initialized.log

- name: 'Kubernetes | wait for API server to be up'
  wait_for: "host={{ ansible_local.wireguard.vpn_ip }} port={{ kubernetes_master_api_server_port }} timeout=30"


- name: 'Kubernetes | Update admin config permission'
  file:
    path: '{{ k8s_service_path }}/admin.conf'
    owner: '{{ kubernetes_user }}'
    group: 'adm'
    mode: 0640

- name: Install Pod Network
  become: yes
  become_user: '{{ kubernetes_user }}'
  shell: 'kubectl apply -f {{ k8s_service_path }}/flannel-deployment.yaml >> pod_network_setup.log'
  args:
    chdir: '{{ kubernetes_user_home }}'
    creates: pod_network_setup.log

# TODO: Save Token in Vault
