---

- name: 'Kubernetes | Enable TCP port 6443 (On Master) is able to connect from Worker'
  wait_for: "host={{ kuberntes_master_ip | mandatory }} port=6443 timeout=1"

- name: 'Kubernetes | Join worker to cluster'
  shell: "{{ kubernetes_worker_join_command }} >> node_joined.log"
  args:
    chdir: '{{ kubernetes_user_home }}'
    creates: node_joined.log
