---
apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
nodeRegistration:
  name: "{{ ansible_hostname }}"  # Replace with your master node name
  criSocket: "unix:///var/run/containerd/containerd.sock"
  kubeletExtraArgs:
    - name: "node-ip"
      value: "{{ k8s_master_ip }}"
localAPIEndpoint:
  advertiseAddress: "{{ k8s_master_ip }}"  # Master's WireGuard IP
  bindPort: {{ k8s_master_api_server_port }}
---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
controlPlaneEndpoint: "{{ k8s_master_ip }}:{{ k8s_master_api_server_port }}"
networking:
  serviceSubnet: "{{ k8s_service_subnet }}"
  podSubnet: "{{ k8s_pod_subnet }}"
  dnsDomain: "{{ k8s_cluster_domain }}"
apiServer:
  certSANs:
    - "{{ k8s_master_ip }}"
    - "{{ hostname }}.wg"
    - "0.0.0.0"
    - "{{ k8s_controler_additional_san }}"
---
kind: KubeletConfiguration
apiVersion: kubelet.config.k8s.io/v1beta1
runtimeRequestTimeout: "15m"
cgroupDriver: "systemd"
systemReserved:
  cpu: 100m
  memory: 350M
kubeReserved:
  cpu: 100m
  memory: 50M
enforceNodeAllocatable:
- pods
---
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
mode: "nftables" # This is the magic line
# Optional: Ensure it doesn't try to use legacy if it fails
iptables:
  masqueradeAll: false
# Optional: Define specific node addresses if you have multiple interfaces
nodePortAddresses: ["primary"]
