---
apiVersion: kubeadm.k8s.io/v1beta4
kind: InitConfiguration
nodeRegistration:
  name: "{{ hostname }}"  # Replace with your master node name
  criSocket: "unix:///var/run/containerd/containerd.sock"
  kubeletExtraArgs:
    - name: "node-ip"
      value: "{{ ansible_local.wireguard.vpn_ip }}"
localAPIEndpoint:
  advertiseAddress: "{{ ansible_local.wireguard.vpn_ip }}"  # Master's WireGuard IP
  bindPort: {{ kubernetes_master_api_server_port }}
---
apiVersion: kubeadm.k8s.io/v1beta4
kind: ClusterConfiguration
controlPlaneEndpoint: "{{ ansible_local.wireguard.vpn_ip }}:{{ kubernetes_master_api_server_port }}"
networking:
  podSubnet: "{{ kubernetes_pod_subnet }}"
---
kind: KubeletConfiguration
apiVersion: kubelet.config.k8s.io/v1beta1
runtimeRequestTimeout: "15m"
cgroupDriver: "systemd"
systemReserved:
  cpu: 100m
  memory: 350M
kubeReserved:
  cpu: 100m
  memory: 50M
enforceNodeAllocatable:
- pods
